doctype html
include ../../../mixins

header
    .avatar
        avatar-editor(
            editable="false",
            avatar-type="medium-head",
            [avatar]="card.owner.avatar",
            background="black"
        )
    .title(*ngIf="!editing") {{ card.title }}
    .title.is-editing(*ngIf="editing")
      input([(ngModel)]="card.title", title="description")

    button.save.is-editing(*ngIf="editing", type="submit", (click)="saveEdition()") 
      +icon('icon-check')

    button.cancel.is-editing(*ngIf="editing", type="submit", (click)="cancelEdition()") 
      +icon('icon-close')

    owner(
        #owner,
        *ngIf="session.currentUser && session.currentUser.username === card.owner.username && !editing",
        [owner]="card.owner",
        [owner-options]="ownerMenu",
        [card-id]="card.uuid",
        (mouseleave)="owner.closeMenu()"
    )

.desc(*ngIf="!editing") {{ card.description }}
.desc.is-editing(*ngIf="editing") 
  textarea([(ngModel)]="card.description", name="description")

//p {{ entity }} {{ entity === 'ideas' }} 
//p {{ card | json}}
invited(*ngIf="entity === 'ideas' && !card.isPublic", [inviteds]="card.users")

comments-container(
    [entity]="entity",
    [uuid]="card.uuid",
    [comments]="card.commentsCount",
    [reactions]="card.reactionsCounts"
)

.actions(*ngIf="session.currentUser")
    watch([card-id]="card.uuid")
    fork([card-id]="card.uuid")
