span.container.is-expanded
  button.add +
  .dropdown
    button((click)="select('smile')")
      span.emoji([ngClass]='"emoji-smile"')
    button((click)="select('confused')")
      span.emoji([ngClass]='"emoji-confused"')
    button((click)="select('thumbsdown')")
      span.emoji([ngClass]='"emoji-thumbsdown"')
    button((click)="select('thumbsup')")
      span.emoji([ngClass]='"emoji-thumbsup"')
    button((click)="select('poo')")
      span.emoji([ngClass]='"emoji-poo"')
    button((click)="select('dancer')")
      span.emoji([ngClass]='"emoji-dancer"')
    button((click)="select('beer')")
      span.emoji([ngClass]='"emoji-beer"')
    button((click)="select('heart')")
      span.emoji([ngClass]='"emoji-heart"')
