doctype html
include ../../../mixins

header
    .title Add new {{ type }}
    a.close(
        href="javascript:void(0)",
        (click)="closeAddItemForm()"
    )
        +icon('icon-close')
form(
    method="post",
    (ngSubmit)="onCreateNewItem()",
    *ngIf="type === 'Ideas'"
)
    fieldset
        input(
            type="text",
            placeholder="{{'Add ' + type + ' title'}}",
            autofocus="true",
            [(ngModel)]="idea.title",
            name="title",
            required
        )
    fieldset
        textarea(
            placeholder="Add a description",
            [(ngModel)]="idea.description",
            name="description",
            required
        )
    fieldset.item-visibility
        span Is this Idea visible? {{idea.isPublic}}
        input(
            type="checkbox",
            id="item-visibility",
            name="isPublic",
            [(ngModel)]="idea.isPublic",
            checked
        )
        label(for="item-visibility")

    fieldset.user-invite
        input(
            type="text",
            placeholder="Invite users",
            name="invite-user",
            (keyup)="doStuff()",
            [(ngModel)]="inviteUser"
        )

        .display-users(*ngIf="filteredUsers && filteredUsers.length && displayUserInviteList")
            .single-user(
                *ngFor="let user of filteredUsers",
                (click)="onInviteUser(user)"
            )
                avatar-editor(
                    editable="false",
                    avatar-type="small-head",
                    [avatar]="user.avatar"
                )
                span.single-user-name {{ user.fullName }}

        .invited-users-wrapper(*ngIf="invitedUsers")
            .invited-users-single(
                *ngFor="let invitedUser of invitedUsers",
            )
                avatar-editor(
                    editable="false",
                    avatar-type="small-head",
                    [avatar]="invitedUser.avatar"
                )
                span.single-invited-name {{ invitedUser.fullName }}
                a.remove-invite(
                    href="javascript:void(0)",
                    (click)="onRemoveUser(invitedUser)"
                )
                    +icon('icon-close')

    button(
        type="submit"
    ) Create
