section(*ngIf="session.currentUser")
  avatar-editor(
    [editable]="true", 
    [(head)]="session.currentUser.avatar.head", 
    [(body)]="session.currentUser.avatar.body", 
    [(legs)]="session.currentUser.avatar.legs")

  avatar-editor(
    editable="false", 
    [avatar]="session.currentUser.avatar")

  avatar-editor(
    editable="false", 
    avatar-type="medium-body", 
    [avatar]="session.currentUser.avatar")

  avatar-editor(
    editable="false",
    avatar-type="small-body", 
    [avatar]="session.currentUser.avatar")

  avatar-editor(
    editable="false", 
    avatar-type="medium-head", 
    [avatar]="session.currentUser.avatar")

  avatar-editor(
    editable="false", 
    avatar-type="small-head", 
    [avatar]="session.currentUser.avatar")


  