section(*ngIf="session.currentUser")
    header
        .title Avatar
        avatar-editor(
            editable="false",
            avatar-type="small-head",
            [head]="session.currentUser.avatar.head",
            [body]="session.currentUser.avatar.body",
            [legs]="session.currentUser.avatar.legs",
            [background]="session.currentUser.avatar.background"
        )
    .content
        avatar-editor(
            [editable]="true",
            [(head)]="session.currentUser.avatar.head",
            [(body)]="session.currentUser.avatar.body",
            [(legs)]="session.currentUser.avatar.legs",
            [background]="session.currentUser.avatar.background"
        )
        .form
            form(
                method="post",
                (ngSubmit)="onUpdateUser()"
            )
                fieldset
                    input(
                        type="text",
                        placeholder="Usuario",
                        autofocus="true",
                        [(ngModel)]="user.fullName",
                        name="fullname",
                        required
                    )

                fieldset
                    input(
                        type="email",
                        placeholder="correo@electronico.com",
                        [(ngModel)]="user.email",
                        name="email",
                        required
                    )

                fieldset
                    .label Color de fondo
                    color-picker([(color)]="session.currentUser.avatar.background")
                button(
                    type="submit"
                ) Actualizar
