section(*ngIf="session.currentUser")
    header
        .title Avatar
    .content
        .configure
            .subtitle Configura tu Personaje
            avatar-editor(
                [editable]="true",
                [(head)]="session.currentUser.avatar.head",
                [(body)]="session.currentUser.avatar.body",
                [(legs)]="session.currentUser.avatar.legs"
            )
        .avatar
            .subtitle Tu avatar
            avatar-editor(
                editable="false",
                avatar-type="small-head",
                [avatar]="session.currentUser.avatar"
            )

    header
        .title Tus datos

    form(
        method="post",
        (ngSubmit)="onUpdateUser()"
    )
        fieldset
            input(
                type="text",
                placeholder="Usuario",
                autofocus="true",
                [(ngModel)]="user.fullName",
                name="fullname",
                required
            )

        fieldset
            input(
                type="email",
                placeholder="correo@electronico.com",
                [(ngModel)]="user.email",
                name="email",
                required
            )

        button(
            type="submit"
        ) Actualizar
