include ../../../mixins

form(
    method="post",
    (ngSubmit)="onSubmit()"
)
    h2 Login
    a.close(
        href="javascript:void(0)",
        (click)="onHideLogin()"
    )
        +icon('icon-close')
    input(
        type="text"
        placeholder="User id",
        autofocus="true",
        name="username",
        [(ngModel)]="model.username"
        required
    )
    input(
        placeholder="Password",
        type="password",
        name="password",
        [(ngModel)]="model.password"
        required
    )
    button(
        type="submit",
        value="login",
        [disabled]="submitted"
    ) Login

.error(*ngIf="errorMessage")
  p {{errorMessage}}
