include ../../../mixins

form(
    method="post",
    (ngSubmit)="onSubmit()"
)
    h2 Login
    a.close(
        href="javascript:void(0)",
        (click)="onHideLogin()"
    )
        +icon('icon-close')
    input(
        placeholder="User id",
        autofocus="true",
        name="userName",
        [(ngModel)]="model.userName"
    )
    input(
        placeholder="Password",
        type="password",
        name="password",
        [(ngModel)]="model.password"
    )
    button(
        type="submit",
        value="login"
    ) Login

.error(*ngIf="errorMessage")
  p {{errorMessage}}
